body{
  font-family: 'Outfit', sans-serif;

}
.navbar-nav {
  align-content: space-around;
}
.navbar-brand {
 
  padding: 0.5em 1em;
}
.navbar .navbar-nav .nav-link {
  color: #585757;
  font-size: 1em;
  padding: 0.5em 1em;
}
@media screen and (min-width: 768px) {

  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
  .navbar-nav {
    align-items: start;
  }
}

/* .bg-blue{
  background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 80%);
} */
.bg-blue{
  background-color: #3983FA;
  /* background-color: #0667D0; */
  /* background-color: #DBF3FA; */
  /* background-color: #B7E9F7; */
} 
.loginbox{
  margin-top: 100px;
  margin-bottom: 100px;
}
.btn-blue{
    background-color: #3983FA;
    border: none;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.btn-blue:hover{
  background-color: #0667D0;

}

.cvsample:hover .cvimg{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  transition:0.5s
}



/* Tab Container */
.Tabs {
  width: 90%;
  height: auto;
  min-height: 400px;
  margin: 0.1rem auto 0.1rem;
  padding: 2rem 1rem;
}
 

 
.react-tabs__tab-list {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #3983FA;
  border-radius: 0.4rem;
  padding-left: 0px;
}
.react-tabs__tab-list a {
  color: black;
}
 
.react-tabs__tab {
  width: 50%;
  padding: 0.5rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
 
.react-tabs__tab--selected {
  background: #3983FA;
  color: #ffffff;
}
.react-tabs__tab--selected a {
  color: #ffffff;
}
 
.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}
 
.react-tabs__tab:hover {
  background: #0667D0;
  color: #ffffff;
}
.react-tabs__tab a:hover {
  background: #0667D0;
  color: #ffffff;
}
 
.react-tabs__tab:first-child {
  border-radius: 0.4rem;
  border-radius: 0.4rem;
}
 
.react-tabs__tab:last-child {
  border-radius: 0.4rem;
  border-radius: 0.4rem;
}
 
.react-tabs__tab-panel {
  display: none;
}
 
.react-tabs__tab-panel--selected {
  display: block;
  text-align: center;
}

